@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', 'sans-serif';
   
}
.container-full {
    max-width: 100%;
    min-height: 90vh;
}

/* navbar style */
nav {
    margin: 30px 180px 0 180px;
}
nav ul {
    list-style: none;
    vertical-align: top;
    padding: 8px 0 8px 0;
    float: right;
     
}
#navbar li {
    display: inline;

}
#navbar ul li a {
    padding-right: 40px;
    margin: 0px;
    color: #010110e0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;

}

#navbar ul li a:hover {
    color: #FFB9B9;
}





/* home section */
#home {
    background-color: #fff;
}

.intro {
    float: left;
    width: 60%;
    overflow: hidden;
    text-align: justify;
    padding: 140px 80px 140px 180px;
    color: #010110e0;

}

.intro h3 {
    font-weight: 300;
    letter-spacing: 5px;
    padding-bottom: 25px;
}

.intro h1 {
    font-weight: 700;
    font-size: 40px;
}

#role {
    text-decoration: underline;
    text-decoration-color: #FFB9B9;
}

.intro p {
    padding-top: 20px;
    line-height: 30px;
    width: 500px;
}
.photo {
    float: right;
    width: 40%;
    padding-top: 50px;
}
#home img {
    border-radius: 50px;
}

.button {
    display: block;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin-top: 25px;
    background-color: #FFB9B9;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}

/* about section */
#about {
    background-color: #f6e6e6;
    height: 100vh;
    overflow: hidden;
}
.ab-image {
    width: 50%;
}
.ab-image img {
    float: left;
    margin-top: 160px;
    margin-left: 160px;
}

.ab-desc {
    float: right;
    width: 50%;
    padding: 60px 160px 50px 50px;
}

.ab-desc h1 {
    font-weight: 700;
    font-size:40px;
    text-decoration: underline;
    text-decoration-color: #FFB9B9;

}

.ab-desc p {
    padding: 30px 130px 30px 0px;
    line-height: 2;
}

#igot {
    text-decoration: none;
}
.ab-me h3 {
    padding-bottom: 40px;
}

.ab-me {
    padding-top:30px;
}



.ab-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    width: 220px;
    background-color: #FFB9B9;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;

    

}

.spacer {
    display: block;
    height:20px;

}

/* projects section */
#projects {
    height: 100vh;
    overflow: hidden;
    background-color: #f7f7f7;
}

.pr-desc {
    padding: 85px 50px 25px 50px;
    text-align: center;
}

.pr-desc h1 {
    font-weight: 700;
    font-size:40px;
    padding-bottom: 15px;
 
}

.gallery {
    text-align: center;
    padding-left: 30px;
}

.pr-container {
    display: inline-block;
    margin: 40px;
    background-color: #f6e6e6;
    border-radius: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}

.pr-container img {
    border-radius: 25px 25px 0 0;
    width: 300px;
}

.pr-container p {
    padding: 15px 20px 5px 20px;
   
}

#projects a {
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffa0a0;
    font-weight: 700;
}

.con-desc img {
    display: inline-block;
    width: 20px;
}
.pr-orgs {
    margin-top: 10vh;
    margin-bottom: 20px;

}

.pr-orgs-title {
    display: inline-block;
    width: 40%;
    height:20vh;
    background-color: #FFB9B9;
    padding: 55px 80px 50px 80px;
    text-decoration: underline;
    text-decoration-color: #f6e6e6;
    text-decoration-thickness: 3px;
}

.pr-orgs-list {
    float:right;
    height: 20vh;
    width: 60%;
    background-color: #f6e6e6;
}



.orgs-con {
    display:inline-block;
    text-align: center;
    padding: 45px 25px 25px 75px;
}

.pr-orgs-list p {
    letter-spacing: 2px;
    margin-bottom: 5px;

}
.pr-orgs-list h4 {
   color: #ffa0a0;

}

/* contact page  */
#contact {
    height: 100vh;
    background-image: url("./img/background.png");
   background-position: center;
   background-size: cover;
    overflow: hidden;
    
}

.co-con {
    height: 100%;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.co-title {
    background-color: #f7f7f7;
    margin-top: 100px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.co-title h1 {
    font-size: 40px;
}
.co-title p {
    padding: 15px 20px 5px 20px;
}

.co-account {
    display: inline-block;
    letter-spacing: 2px;
    
}
.co-title h4 {
    color: #ffa0a0;

}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
